<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.card.game.mapper.SysImageInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.card.game.pojo.entity.SysImageInfoEntity">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="src" property="src" />
        <result column="country" property="country" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, src,country
    </sql>
    <select id="getRandomAvatar" resultType="com.card.game.pojo.entity.SysImageInfoEntity">
        SELECT *
        FROM sys_imageInfo sii
        ORDER BY rand()
        LIMIT 1
    </select>

</mapper>
