<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册邮件</title>
</head>
<body>
<div class="container">
    <div class="title">欢迎您注册该游戏,注册验证码为:</div>
    <div class="content">[[${code}]]</div>
</div>
</body>

<style type="text/css">
    .container {
        display: flex;
        justify-content: center;
        font-family:宋体;
        font-weight:400;
        margin-top: 50px;
    }

    .title {

    }

    .content {
        padding-left: 10px;
        justify-content: center;
        color: black;
    }
</style>
</html>