spring:
  application:
    name: card-game
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    type: com.alibaba.druid.pool.DruidDataSource
    druid:
      url: jdbc:mysql://9.135.92.198/card_game?useUnicode=true&amp&characterEncoding=utf8
      username: root
      password: root
      # 初始连接数
      initial-size: 5
      # 最小连接池数量
      min-idle: 10
      # 最大连接池数量
      max-active: 20
      # 获取连接等待超时时间
      max-wait: 60000
      # 多久进行检测，检测需要关闭的连接，毫秒
      time-between-eviction-runs-millis: 60000
      # 一个连接再池中最大生存时间，毫秒
      min-evictable-idle-time-millis: 300000
      # 一个连接在池中最大生存时间，毫秒
      max-evictable-idle-time-millis: 900000
      # 检测连接是否有效
      validation-query: SELECT 1 FROM DUAL
      test-while-idle: true
      test-on-borrow: false
      test-on-return: false
      filter:
        stat:
          enabled: true
          # 慢SQL记录
          log-slow-sql: true
          slow-sql-millis: 1000
          merge-sql: true
        wall:
          config:
            multi-statement-allow: true
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher

  redis:
    host: 43.136.135.78
    port: 6380
    password: usertest
  #配置邮件发送
  mail:
    host: smtp.qq.com
    protocol: smtp
    default-encoding: UTF-8
    test-connection: true
    username: 3144279133@qq.com
    password: vkpvmdlcxbjsdhaj

server:
  port: 8888
  ssl:
    enabled: false
    keyStore: server.keystore
    keyAlias: tomcat
    keyStorePassword: 1518290
    keyStoreType: JKS



security:
  enable:
    urls:
      - "/**/*.html"
      - "/**/*.css"
      - "/**/*.js"
      - "/**/swagger*"
      - "/**/api-docs*"
      - "/user/**"
      - "/message/**"
      - "/sys/**"
      - "/websocket/**"

mybatis-plus:
  global-config:
    db-config:
      logic-delete-field: true # 全局逻辑删除的实体字段名(since 3.3.0,配置后可以忽略不配置步骤2)
      logic-delete-value: 1 # 逻辑已删除值(默认为 1)
      logic-not-delete-value: 0
  type-aliases-package: com.card.game.
  mapper-locations: classpath*:/mapper/**/*.xml
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl


jwt:
  ttl: 3600000 #1个小时
  key: jwt@@
  iss-user: tomYou